
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
     <h2>Mission</h2>
        <p class="about">
            At a time when police brutality seems to make front page news 
            on a daily basis and yet outstanding officers go unrecognized
            and lumped into the same category, we decided it was the perfect
            time to develop a user-friendly and mobile-responsive app that would
            provide an outlet for citizens to easily report their experiences with 
            individual police officers.
            <br /> <br/>
            Whether reviews are positive or negative, officers will be held 
            publicly accountable with an app that is designed to retain incident
            information in a database - including exact location, time, date
            and detailed description of their interaction. The app stores and
            displays this data to detect patterns in positive and negative reviews
            for specific officers which will be sent to police departments for review
            and investigation.</p>
        <h2>About Us</h2>
        <p>We are a team of four students with very unique backgrounds who were brought together by enrolled in the We Can Code IT (Software Engineering)
         boot camp in Cleveland, OH. The app started as a simple idea, inspired by the social and political climate of our times and was pitched to 
        other classmates and ultimately chosen as a final project during the last three weeks of our cohort. We collaborated as a group to engineer the entire 
        Web App, including the database, using model-view-controller architecture .
       </p>
        <h2>Contact US</h2>
        <a href="mailto:thedispatchapp@outlook.com" target="_blank">thedispatchapp@outlook.com</a>
    </div>
</div>





    

