@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   If you have any questions concerning
    the app please contact:
</address>

<address>
    <strong>Questions:</strong>   <a href="mailto:thedispatchapp@outlook.com">thedispatchapp@outlook.com</a><br />
</address>