@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-12">

    <h1>RATE A COP</h1>
    <p class="lead">Reviews police officers</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Post a Review &raquo;</a></p>*@


    <h2>QUICK TIPS WHEN BEING QUESTIONED BY A POLICE OFFICER</h2>
    <p>1.	Always Keep Your Hands Visible</p>
    <p>2.	Do Not Be Confrontational, Let the Officer Lead the Conversation</p>
    <p>3.	You Do Not Have to Agree to an Unfounded Search</p>
    <p>
        4.	You Have Miranda Rights:  You have the right to remain silent. Anything you say
        can and will be used against you in a court of law. You have the right to speak to
        an attorney, and to have an attorney present during any questioning.
    </p>
    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=eDJrQBwJpqk">Watch a video &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@