@{
    ViewBag.Title = "Forgot Password Confirmation";
}

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <hgroup class="title">
            <h3 class="mission-h">CONFIRMATION</h3>
        </hgroup>
        <p class="mission">
            Please check your email to reset your password.
        </p>
    </div>
